*
{
    margin: 0;
    padding: 0;
    font-size: 1em;
}
body{
    padding: 90px;
    color: aqua;
    /* margin: 0 auto; */
    text-align: center;
    background-color:#70b4e3 ;
}
.wrap{
    border: 2px solid #333;
    width: 500px;
    height: 200px; 
    margin: 0 auto;
    /* display: flex; */
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    padding: 2px;
    
}
.lastResult {
    color: white;
    /* padding: 3px; */
    height: 21px;
    width: 16*7;
}
.form,.resultParas
{
    /* display: block; */
    width: 500px;
    height: 110px;
    margin: 0 auto;
    text-align: center;
    /* padding: 4px 3px; */
    /* border-radius: 10%; */
    /* border: 2px solid #333; */
    /* box-shadow: 2px 2px  #333; */
}
h1
{
    text-align: center;
    color: #0a50f3;
}
.guesses,.lowOrHi{
    text-align: center;
}
.tips{
    text-align: left;
}
.guessField
{
    border-radius: 5px;
    /* border: 4px rgb(2, 2, 2); */
}
